<form class="form-horizontal" action='/rooms' method='post'>
    <legend>Add Room</legend>
    <div class="form-group">
      <label for="room" class="col-lg-2 control-label">Room</label>
      <div class="col-lg-4">
        <input name='room' type="room" class="form-control" id="room" placeholder="Room Name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
<ul>
  {{#rooms}}
    <li>
      {{name}} 
      {{#if canDelete}}<form action="/rooms/{{name}}/delete" method="post">
      <button type='submit'>Delete</button>
    </form>{{/if}}
  </li>
  {{/rooms}}
</ul>
