<div class='room'>

  <h1>{{roomName}}</h1>
  <ul id="messages"></ul>
  <form id='msg' action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src='/javascripts/client.js'></script>
<script type="text/javascript">
var socket = io();///add room {{id}}
$('#msg').submit(function(){
  socket.emit('dog', { room: '{{roomName}}', message: $('#m').val()});
  $('#m').val('');
  return false;
});
socket.on('{{roomName}}', function(msg){
  $('#messages').append($('<li>').text(msg.message));
});
</script>
