
<img class="bg" src="/images/20160401_133806.jpg" alt="" width='100' />
<div class="loginpage">
  <p>Please log in and chat with your friends.</p>
  <br>
  <p>
    Go to Nick-MacBook-Air.local:3000
  </p>
</div>
