<div class='container'>
<div class='col-md-6 col-md-offset-3'>
  <a href="/auth/google"><img src="/images/googleplus_button.png" width='300'></a>
  <form class="form-horizontal" action='/auth/login' method='post'>
      <legend>Login</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-4">
          <input name='email' type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-4">
          <input name='password' type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </form>
</div>
</div>
